## Linear Regression
An estimator is any model that tries to estimate a variable y from another variable(s) x given pairs of data (x<sub>1</sub>,y<sub>1</sub>),(x<sub>2</sub>,y<sub>2</sub>),...,(x<sub>N</sub>,y<sub>N</sub>)

Regression is when the targets (y) are quantities (not cat vs dog but rather price of a house)

An example would be trying to guess how many people will buy icecream from a shop at any day given the temprature on that day. In this case, the target is the number of icecream people will buy, it is an integer and any value (ex: 14 icecreams) doesn't represent a particular class, so it will be represented as a regression problem. In this case, it turns out that x is also a quantity (temprature); however, this is not necessary and is tackled by approaches other than linear regression.

To estimate the price of the icecream from temperature we gather the data on various days from various different places and get the following data.



We can see that a line (could  also be a curve) could fit the data, but how can we find which line exactly.

#### Line Equation Review
A line in 2D can be parametrized using a slope m and a y-intercept b which would result in it having an equation

$$y = mx+b$$

In the example of the icecream, if the temperature at a day was 30, our prediction for the number of icecreams sold would be m\*30 + b, so we simply need to find m and b.

#### Squared Loss
We need some measurement of how good our line is to be able to find the "best" line, so we will measure the difference between our predictions and the correct values from the data.


Then, we will square all the differences and add them up. This will be the value we try to minimize.

In [1]:
import numpy as np
import pandas as pd

In [2]:
class Linear_Regression():
    '''
    Linear Regression model created using only NumPy
    
    '''
    def __init__(self):
        self.weights = None
        
    def train(self,data_X,data_y):
        '''
        Parameters
        ----------
        data_X: np.array, shape = (N, num_features)
            Features from the data, each row is one data point. Assumes that a column of ones was added to data_X
        data_y: np.array, shape = (N, num_targets)
            The target values to predict, each row contains the targets for one data point
        '''
        #the goal of this function is to find the weights of the model 
        self.weights=(np.linalg.inv(data_X.T@data_X).dot(data_X.T@data_y).T).reshape(-1)
        
    def modified_train(self,data_X,data_y):
        self.weights=(np.linalg.pinv(data_X.T@data_X).dot(data_X.T@data_y).T).reshape(-1)
    
    def predict(self,x_to_predict):
        '''
        Predict using the given value as input
        Parameters
        ----------
        x_to_predict: np.array, shape = (M, num_features)
            A given list of inputs to predict targets for, each row is one input. Assumes that a column of ones was added similar to the training data
        
        Returns
        -------
        np.array of floats, shape = (M, num_targets)
            Predicted values for each input
        '''
        y_pred=x_to_predict@self.weights
        return y_pred

### Import the data and remove useless columns

In [3]:
df = pd.read_csv("train.csv")
df.drop(columns=["Id"],inplace=True)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Handle the missing data (NaNs)

In [4]:
df.drop(columns=df.columns[df.isnull().sum().values>200],inplace=True)
df.dropna(inplace=True)
df.isnull().sum().values

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

### Replace categorical data (strings) with numerical values

In [5]:
obj_to_replace = df["MSZoning"].dtype

for column in df.columns:
    if df[column].dtype == obj_to_replace:
        uniques = np.unique(df[column].values)
        for idx,item in enumerate(uniques):
            df[column] = df[column].replace(item,idx)
            
df.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,3,8450,1,3,3,0,4,0,5,...,0,0,0,0,0,2,2008,8,4,208500
1,20,3,9600,1,3,3,0,2,0,24,...,0,0,0,0,0,5,2007,8,4,181500
2,60,3,11250,1,0,3,0,4,0,5,...,0,0,0,0,0,9,2008,8,4,223500
3,70,3,9550,1,0,3,0,0,0,6,...,272,0,0,0,0,2,2006,8,0,140000
4,60,3,14260,1,0,3,0,2,0,15,...,0,0,0,0,0,12,2008,8,4,250000

### Add the bias column (column of ones)

In [6]:
df["bias"] = np.ones(df.shape[0])
df.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,bias
0,60,3,8450,1,3,3,0,4,0,5,...,0,0,0,0,2,2008,8,4,208500,1.0
1,20,3,9600,1,3,3,0,2,0,24,...,0,0,0,0,5,2007,8,4,181500,1.0
2,60,3,11250,1,0,3,0,4,0,5,...,0,0,0,0,9,2008,8,4,223500,1.0
3,70,3,9550,1,0,3,0,0,0,6,...,0,0,0,0,2,2006,8,0,140000,1.0
4,60,3,14260,1,0,3,0,2,0,15,...,0,0,0,0,12,2008,8,4,250000,1.0

### Divide the data into training, testing, X, and y

In [7]:
df = df.sample(frac=1).reset_index(drop=True)
training_df = df[:-100]
val_df = df[-100:]
training_y = training_df["SalePrice"].values
training_X = training_df.drop(columns=["SalePrice"]).values
val_y = val_df["SalePrice"].values
val_X = val_df.drop(columns=["SalePrice"]).values

print(training_X.shape)
print(np.mean(training_y))

(1238, 74)
187623.8336025848

### Train the linear regressor

In [8]:
def MAE_calc(predicted,actual):
    MAE=0
    for i in range (predicted.shape[0]):
        MAE=MAE+abs(predicted[i]-actual[i])
    return MAE*1/predicted.shape[0]

## Create and fit the model

In [9]:
#train the model by the basic train funcion (using numpy.linag.inv)
LR_regressor = Linear_Regression()
LR_regressor.train(training_X,training_y)
y_pred=LR_regressor.predict(val_X)

## Model evolution

In [10]:
# Calculate Mean Absolute Error (Easier to interpret than MSE) for trained data
MAE= MAE_calc(y_pred,val_y)
print("MAE:",MAE)

MAE: 64231351.797590196

In [11]:
# Calculate Mean Absolute Percentage Error for trained data
from sklearn.metrics import mean_absolute_percentage_error
percentage_error=mean_absolute_percentage_error(y_pred,val_y)
print("mean absolute percentage error",percentage_error)

mean absolute percentage error 1.0196902369419973

## Model modification

In [12]:
#train the model by the modified train funcion (using psudo inverse)
LR_regressor.modified_train(training_X,training_y)
y_pred_mod=LR_regressor.predict(val_X)
MAE_mod=MAE_calc(y_pred_mod,val_y)
print(f"MAE using psudo inverse: {MAE_mod}")

MAE using psudo inverse: 18272.598022387894

In [13]:
percentage_error=mean_absolute_percentage_error(y_pred_mod,val_y)
print("mean absolute percentage error for modified model:",percentage_error)

mean absolute percentage error for modified model: 0.11462087278462858

### Train using the sklearn linear regressor

In [14]:
from sklearn.linear_model import LinearRegression

# Create and fit the model
lin_reg= LinearRegression()
lin_reg.fit(training_X,training_y)

# Calculate Mean Absolute Error (Easier to interpret than MSE)
y_pred=lin_reg.predict(val_X)
MAE= MAE_calc(y_pred,val_y)
print("MAE:",MAE)
print("mean absolute percentage error for modified model:",mean_absolute_percentage_error(y_pred,val_y))

MAE: 18272.598044371593
mean absolute percentage error for modified model: 0.11462087312450953

## Conclusion:
    why the efficiency of the model is very low when using the basic train function?
        np.linalg.inv : calculates the actual inverse of the matrix which may approximated to zero if its values are very
        low (the case which X.X_transpose has very high values).it leads to inefficiency in the training process (getting   weights)
        but np.linalg.pinv which is used int the modified train function ,calculates the psudo inverse of  the matrix for invertable matrices the psoudo inverse equivalents to the actual inverse but for non invertable it  gives the closest values for its inverse